body{

    margin: 0;
    padding: 0;
    border: 0;
    
}


.Projeto{

    margin-top: 20px;
    font-size: 35px;

}

.laranja{

    color: rgb(255, 94, 0);

}
    
.cabecalho{
    
    width: 100%;
    height: 80px;
    background: black;
    padding-top: 30px;
    color: white;
    border-bottom: 5px solid orangered;
    
}

.caixa{

    max-width: 80%;
    height: 100%;
    margin: 0 auto;
            
}
    
ul{
    
    list-style: none;
    
    }
    
nav{
    
    float: right;
    color: white;

    }

ul li{

    display: inline;
    margin-left: 30px;


    }

.barra{

background-color: black;
color:white;
font-size: 30px;
height: 75px;
padding-top: 30px;

}
.barra .receba{

float: left;

}

.barra .caixa2{

float: right;

}

.caixa2 .but{

background-color: rgb(255, 94, 0);

}

.container{

background-image: url(../Img/team.png);
min-height: 400px;

}

.caixa .h1{

color: white;
margin: 0;
text-align: center;
padding-top: 150px;

}

.caixa h4{

color: white;
margin: 0;
text-align: center;

}

.imagens{

min-height: 10%;
width: 100%;

}

.imagens2 img{

height: 100px;
padding-top: 60px;

}

.imagens2 .img{

float: left;
text-align: center;
margin-left: 20px;

}

.imagens2{

max-width: 63%;
height: 300px;
margin: 0 auto;

}

.rodape{

height: 60px;
width: 100%;
background-color:  rgb(255, 94, 0);
color: white;
text-align: center;
padding-top: 50px;

}